div{
    width:200px;
    height:200px;
    background-color:red;
    margin:10px;

}
@media (max-width:500px){
    div{
        background-color: blue;

    }
    
}
@media (min-width:500px) and (max-width:1000px){
    div{
        background-color:green;
    }
}
@media (min-width:1000px) and (max-width:1500px){
    div{
        background-color:yellow;
    }
}
